# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Modelos grandes (NO subir a GitHub)
*.pkl
*.bin

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env